<div id="<%= dom_id(comment) %>>">
  <% if comment.user&.email %>
    <strong><%= comment.user.email %></strong>:
  <% end %>
  <%= comment.content %>
  - <%= time_tag comment.created_at, "data-local": "time-ago"  %>
</div>

<!-- TODO: Implement delete post-->
