<div class="alert-container mt-4">
  <% if alert %>
    <div class="alert alert-primary" role="alert">
      <%= alert %>
    </div>
  <% end %>
  <% if notice %>
    <div class="alert alert-primary" role="alert">
      <%= notice %>
    </div>
  <% end %>
</div>
